<ng-include src="'templates/_nav.html'"></ng-include>
<article ng-controller="Mailbox">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
	<li ng-repeat="(path, name) in mailboxes" ng-class="path == currentMailbox ? 'active' : ''">
	  <a href="{{path}}">{{name}}</a>
	</li>
      </ul>
    </div>
    <div class="col-md-10">
      <ul class="list-group">
	<li class="list-group-item" ng-repeat="(unixdate, conversation) in conversations" id="{{threadid}}">
	  <div class="row">
	    <div class="col-md-2">{{format_authors(conversation)}}
	      <span class="badge pull-right">{{conversation.length}}</span>
	    </div>
	    <div class="col-md-10">{{format_subject(conversation[0])}}
	      <span class="date pull-right">{{format_date(unixdate)}}</span>
	    </div>
	  </div>
	</li>
      </ul>
    </div>
  </div>
</article>
