<ng-include src="'templates/_nav.html'"></ng-include>
<article class="container" ng-controller="Mailbox">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
	<li ng-repeat="mailbox in mailboxes" class="{{$first ? 'active' : ''}}"><a href="#">{{mailbox}}</a></li>
      </ul>
    </div>
    <div class="col-md-8">
      <ul class="list-group">
	<li class="list-group-item" ng-repeat="(threadid, conversation) in conversations" id="{{threadid}}">
	  <div class="row">
	    <div class="col-md-3">{{format_authors(conversation)}}
	      <span class="badge pull-right">{{conversation.length}}</span>
	    </div>
	    <div class="col-md-9">{{format_subject(conversation[0])}}</div>
	  </div>
	</li>
      </ul>
    </div>
  </div>
</article>
